body{
    margin: 0;
    padding: 0;
    background-color: #DAF5FF;
}
main{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2rem;
    font-weight: 700;
    padding-top: 1.5rem;
}
input{
display: none;
}
#label-input{
    display: block;
    cursor: pointer;
    background-color: #0096FF;
    height: 6rem;
    width: 40rem;
    margin: 0 auto;
    border: 2px black solid;
    border-radius: 1rem;
    font-size: 1.5rem;
    box-shadow:  2px 2px 2px 1px rgba(0, 0, 0, 0.2);;
}
#label-input:hover{
    border: 2px black solid;
    background-color: #000000;
    color: white;
}
#label-legenda{
    font-size: 1rem;
    display: none;
    margin: 0.5rem auto;
    color: #C21010;
}
button{
    display: inline-block;
    margin: 2rem auto 1rem auto;
    color: #000;
	background-color: #0096FF;
	font-size: 19px;
	border: 0px solid #0096FF;
	border-radius: 15px;
	padding: 15px 50px;
	cursor: pointer;
    box-shadow:  2px 2px 2px 1px rgba(0, 0, 0, 0.2);;
}
button:hover {
    color: #fff;
    background-color: #000;
}
section{
    padding: 2rem 7rem;
}
table{
    width: 100%;
    border-collapse: collapse;
    table-layout:fixed;
    border: 0.2rem solid black;
    box-shadow:  2px 2px 2px 1px rgba(0, 0, 0, 0.2);;
}
.titulo-tabela{
    font-weight: 700;
    font-size: 3rem;
    margin: 0 auto 1rem auto;
}
.coluna-item{
    width: 30%;
    font-weight: 700;
    font-size: 1.6rem;
}
.coluna-resultado{
    border-right: solid 1px black;
    font-weight: 400;
    font-size: 1.3rem;
    text-align: left;
}
td{
    border: solid 1px black;
    padding: 0.5rem;
}